<h1><%= @student.name %></h1>

<% @student.addresses.each do |address| %>
  <%= address.street %>
  <%= address.state %>
  <%= address.zipcode %>
  <%= address.description %>
<% end %>

<%= link_to "All Students", students_path %>
<%= link_to "Create New Student", new_student_path %>

<%= link_to "Add New Address", new_student_address_path(@student) %>
